<!-- This html file renders the text form that users interact with  -->
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/styles.css"> 
	<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"> -->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Orbitron&display=swap" rel="stylesheet">
	<style> 
	h1{font-family: 'Orbitron', sans-serif;}
	h2{font-family: 'Orbitron', sans-serif;}
	h3{font-family: 'Orbitron', sans-serif;}
	textarea{font-family: 'Orbitron', sans-serif;}
	.title-label{font-family: 'Orbitron', sans-serif;}
	.btn-info{font-family:'Orbitron', sans-serif;}
	</style>

</head>
<body>
	<div class="title-label"> Welcome. </div>
	<header>
		<div class="container">
		<h1>Choose A Model to Get Started</h1>
		
	</div>
	</header>

	<div class="container">

		<form action="{{ url_for('generate')}}" method="POST">

		<input type="submit" class="btn-choice" formaction="/gpt_home.html" value="GPT">
		<input type="submit" class="btn-choice" formaction="/gpt2_home.html" value="GPT2">
		<input type="submit" class="btn-choice" formaction="/ctrl_home.html" value="CTRL">
		<input type="submit" class="btn-choice" formaction="/xlnet_home.html" value="XLNET">
		<input type="submit" class="btn-choice" formaction="/transfoxl_home.html" value="TRANSFO-XL">
		<input type="submit" class="btn-choice" formaction="/xlm_home.html" value="XLM">
	</form>
	</div>
</body>
</html>